<a href="https://colab.research.google.com/github/LeoBallon/Funciones-Basicas---Phyton/blob/master/Funciones_Numericas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FUNCIONES NUMERICAS

3. Calcular el producto de 444...444 (150 dígitos) por 777...777 (300 dígitos). Sin escribir el número completo.

In [ ]:
#Resolucion
a = '4'*150
b = '5'*300
int(a) * int(b)

246913580246913580246913580246913580246913580246913580246913580246913580246913580246913580246913580246913580246913580246913580246913580246913580246913333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333086419753086419753086419753086419753086419753086419753086419753086419753086419753086419753086419753086419753086419753086419753086419753086419753086420

4. Solicitar por pantalla 'n' segundos e imprimir la cantidad de horas, minutos y segundos que representa.

- Ejemplo

  315

  0 horas
  5 minutos
  15 segundos

In [ ]:
#Resolucion
s= int(input("Inserte segungos: "))
s
m=s//60
s_r=s%60
h=m//60
print ("El resultado es :",h, "Horas", m,"minutos", s_r, "Segundos" )

Inserte segungos: 315
El resultado es : 0 Horas 5 minutos 15 Segundos